
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
body {
    background-image: url(./images/brown-field-3.jpg);
    overflow: hidden;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
h1 {
    Font-Family: 'Raleway', Sans-Serif;
    Font-Size: 48px;
}
h2 {
    font-size: 30px;
}
span {
    font-size: 25px;
}
.small-contact {
    display: none;
}
.columns {
    Font-Family: 'Merriweather Sans', Sans-Serif;
    Font-Size: 17px;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    height: 55%;
    width: 100%;
    background: linear-gradient(transparent 0%, #B2A399AA 25%, #B2A399BB 35%, #B2A399DD 50%, #B2A399BB 65%, #B2A399AA 85%, transparent 100%);
    color: #201A18;
    margin-top: 175px;
}
div {
    padding-top: 15px;
    padding-bottom: 15px;;
}
.middle-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    width: 100%;
    margin-top: -15px;
}

.left-column {
    display: flex;
    flex-direction: row;
    margin-right: 1em;
}
.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
}
.skills-list {
    display: flex;
    flex-direction: row;
}
.split-left {
    margin-right: 1em;
    padding-top: 0;
}
.split-right {
    padding-top: 0;
}

.name {
    display: flex;
    align-items: center;
}
a {
    text-decoration: none;
    color: #201A18;
    
}
#envelope {
    margin-right: 20px;
}
ul {
    padding-inline-start: 0px;
}
li {
    list-style: none;
    font-weight: bold;
}

ul a{
    margin-left: 10px;
}
p {
    font-weight: bold;
}
.icon {
    margin-right: 10px;
}
@media only screen and (max-width: 850px) {
    div {
        padding: 0;
    }
    .tag {
        display: none;
    }
    .small-contact {
        display: inline;
        text-align: start;
    }
    .columns {
        margin-top: 150px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
    }
    .middle-column {
        width: 50%;
        align-items: center;
    }
    .left-column {
        flex-direction: column;
        justify-content: center;

    }
    .name {
        text-align: center;
    }
    .name h1 {
        width: 50%;
    }
    .contact {
        display: none;
    }
}
@media only screen and (max-width: 535px) {
    * {
        color: black;
    }
    .columns {
        height: 85%;
        align-content: start;
        margin-top: 25px;
        /*background: linear-gradient(transparent 0%, #B2A399AA 25%, #B2A399BB 35%, #B2A399DD 50%, #B2A399BB 65%, #B2A399AA 85%, transparent 100%);*/
        background: linear-gradient(transparent 0%, transparent 15%, #B2A399BB 30%, #B2A399DD 50%, #B2A399BB 65%, #B2A399AA 85%, transparent 100%);
    }
    .middle-column{
        width: 100%;
        height: fit-content;
    }
    .left-column {
        height: fit-content;
        margin-right: 0;
    }
    .name h1 {
        width: 100%;
    }
    .box {
        margin-top: 25px;
    }
    #envelope,
    #linkedin {
        display: none;
    }
    .small-contact {
        text-align: center;
    }
}